@model Web.Models.MovieViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete movie</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectorId)
        </dt>

        <dd>
            @{
                foreach (var cast in Model.CastAndCrews)
                {
                    if (cast.PeopleId == Model.DirectorId && cast.Career.Title == "Director")
                    {
                        @: @cast.People.LastName @cast.People.FirstName <br />
                    }
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PremiereDate)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.PremiereDate)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Desctiption)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Desctiption)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Country.Title)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Country.Title)
        </dd>
        
        <dt>
            Poster
        </dt>

        <dd>
            <img src="@string.Format("/Posters/{0}.jpg", Model.Id)" id="poster" width="100" height="100" alt="Poster" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            @{
                foreach (var genre in Model.Genres)
                {
                    @:  @genre.Title <br />
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CastAndCrews)
        </dt>
        <dd>
            @{
                foreach (var actor in Model.CastAndCrews)
                {
                    if (actor.Career.Title == "Actor")
                    {
                        @:  @actor.People.LastName @actor.People.FirstName <br />
                    }
                }
            }
        </dd>
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
